# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environments
venv/
.env/

# Environments and config
.env
*.env
*.ini
*.toml
*.yaml

# VSCode
.vscode/

# PyCharm
.idea/

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Jupyter Notebook
.ipynb_checkpoints

# Docker
*.log
*.pid
docker-compose.override.yml

# MyPy, Pyre, etc
.mypy_cache/
.dmypy.json
.pyre/

# Logs and local state
*.log
*.sqlite3

# MacOS
.DS_Store
